// Variables

    // Colors
    $text: black;
    $border: darkgrey;
    $action: blue;
    
    // Layout
    $space: 30px;

// End of Variables


// Reset

html, body{ margin: 0; padding: 0  ; }
body{ background-color: lightgray; padding: $space; }
*{ box-sizing: border-box; }

// End of Reset


//Utility
.flex{ display: flex; }
.flex-center{ justify-content: center;}
.flex-vcenter{ align-items: center;}
.grid{ display: grid; }
.gap{ gap: $space;}
.gap--1-2{ gap: calc($space / 2); }
.gap--1-4{ gap: calc($space / 4);}
.container{  
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
//End of Utility


#settings{
    padding: $space;
    display: flex;
    gap: $space;
    background: $text;
    color: white;

        h2{
            font-size: 12px;
            opacity: 0.5;
        }

        #settings--min,
        #settings--max{
            flex-grow: 1;
            display: grid;
            gap: calc($space / 2);
        }

}

.settings-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc($space / 4);    

    input{
        width: 100%;
    }
}