$pri: blue;

body{
    background-color: rgb(242, 238, 228);
}

input{
    padding: 10px;
}

label{
    min-width: 150px;
    display: inline-block;
}

.btn{
    padding: 10px 20px;
    border: 2px solid $pri;
    outline: 0;
    border-radius: 2px;
    background: $pri;
    color: white;
}

.btn--primary{

}

.btn--outline{

}


.section{
    border: 2px solid rgb(223, 219, 208);
    padding: 20px;
    margin-bottom: 20px;
}